@media screen and (max-width: 900px){
    .intro-div{
        background-image: url(./images/desktop/image-header.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 80vh;
    }
    .logo-img img{
        width: 250px;
    }
    .menus-i{
        display: none;
    }
    .menu-m{
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: 50px;
    }
    .menus-il{
        background-color: var(--White);
        width: 700px;
        display: flex;
        align-content: center;
        justify-content: center;
        height: 700px;
    }
    .items{
        display: none;
    }
    .show{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .checklabel{
        display: block;
        font-size: 30pt;
        color: var(--White);
    }
    #checkbtn{
        display: none;
    }
    ul{
        display: block;
        text-align: center;
        line-height: 128px;
    }
    .menus-il ul .li{
        font-size: 40pt;
        margin: 25px 0;
        color: var(--DarkGrayBlue);
    }
    .cnt{
        font-family: 'Fraunces', sans-serif;
        font-size: 30pt;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 260px;
        height: 100px;
        border-radius: 50px;
        background-color: var(--Yellow);
        margin: 25px 0;
    }

    .intro-nav{
        display: flex;
        height: 60vh;
        align-items: center;
        justify-content: center;
    }
    .elements-int{
        display: block;
        width: 600px;
        text-align: center;
        padding-top: 0px;
    }
    .block{
        display: block;
    }
    .none{
        display: none;
    }
    .elements-int h1{
        color: var(--White);
        text-transform: uppercase;
        letter-spacing: 8px;
        font-size: 66pt;
        font-weight: 900;
        margin-bottom: 45px;
    }
    .elements-int img{
        margin-top: 45px;
        width: 90px;
    }
    
    /*!SECTION GRID*/
    .grid-part{
        display: block;
    }
    .img-flex{
        display: block;
        max-width: 100%;
        line-height: 0;
    }
    .txt-grid{
        display: flex;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        place-items: center;
    }
    .txt-ins{
        text-align: center;
        max-width: 100%;
        height: 35vh;
        padding: 20px 0;
        margin-top: 200px;
    }
    .txt-ins h1{
        width: 100%;
        padding: 0 160px;
        font-size: 32pt;
    }
    .txt-ins p{
        width: 100%;
        padding: 0 80px;
        font-size: 20pt;
    }
    .txt-ins a{
        font-size: 20pt;
    }
    .txt-grid .befores-a::before{
        content: '';
        position: absolute;
        height: 10px;
        width: 190px;
        border-radius: 25px;
        margin-top: 20px;
        z-index: -1;
    }
    .img-flex img{
        width: 100%;
    }
    .img-a{
        display: none;
    }
    .img-grid{
        display: none;
    }
    .g-f{
        background-size: cover;
        width: 100%;
        background-position: center;
        height: 50vh;
        display: flex;
        justify-content: center;
    }

    /*?CLIENTS*/
    .txt-h3-plp{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-transform: uppercase;
        color: var(--GrayBlue);
        font-size: 26pt;
    }
    .plp{
        display: block;
        width: 100%;
        height: 850px;
    }
    .client{
        text-align: center;
        width: 100%;
        margin: 50px 0;
    }
    .client img{
        width: 100px;
        border-radius: 50px;
    }
    .tml-c{
        color: var(--VeryDarkGrayBlue);
        font-family: 'Barlow', sans-serif;
        line-height: 28px;
        padding: 0 190px;
        font-size: 20pt;
    }
    .nm-c{
        font-weight: 900;
        font-size: 20pt;

    }
    aside{
        font-size: 16pt;
        font-family: 'Barlow', sans-serif;
        color: var(--GrayBlue);
    }
    .grid-4{
        grid-template-columns: repeat(2, 1fr);
    }   
    .img-g{
        overflow: hidden;
        line-height: 0;
    }
    .img-g img{
        max-width: 50vw;
    }

    /*~FOOTER*/
    footer{
        height: 40vh;
        width: 100%;
        background-color: var(--LightCyanFooter);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ft-it, .ft-it ul, .ft-it ul li, .ft-it ul li img{
        display: inline;
        text-align: center;
    }
    .icons{
        display: flex;
        flex-wrap: wrap;
    }
    .icons ul li{
        cursor: pointer;
        font-size: 32pt;
        margin: 0 20px;
    
        transition-property: color;
        transition-duration: .3s;
    }
    .icons ul li:hover{
        color: white;
    }
}
@media screen and (max-width: 820px){
    .client{
        text-align: center;
        width: 100%;
        margin: 40px 0;
    }
    .client img{
        width: 100px;
        border-radius: 50px;
    }
    .tml-c{
        color: var(--VeryDarkGrayBlue);
        font-family: 'Barlow', sans-serif;
        line-height: 28px;
        padding: 0 150px;
        font-size: 20pt;
    }
}
@media screen and (max-width: 740px){
    .txt-ins{
        text-align: center;
        max-width: 100%;
        height: 35vh;
        padding: 6px 0;
        margin-top: 0px;
    }
    .txt-ins h1{
        width: 100%;
        padding: 0 0px;
        font-size: 52pt;   
    }
    .txt-ins p{
        width: 100%;
        padding: 0 0px;
        font-size: 26pt;
        line-height: 38px;
    }
    .txt-ins a{
        font-size: 26pt;
    }
    .txt-grid .befores-a::before{
        content: '';
        position: absolute;
        height: 20px;
        width: 240px;
        border-radius: 25px;
        margin-top: 25px;
        z-index: -1;
    }
    .txt-h3-plp{
        width: 100%;
        height: 4vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-transform: uppercase;
        color: var(--GrayBlue);
        font-size: 26pt;
    }
    .plp{
        display: block;
        width: 100%;
        height: 80vh;
    }
    .client{
        text-align: center;
        width: 100%;
        margin: 60px 0;
    }
    .tml-c{
        color: var(--VeryDarkGrayBlue);
        font-family: 'Barlow', sans-serif;
        line-height: 28px;
        padding: 0 140px;
        font-size: 20pt;
    }
}
@media screen and (max-width: 720px){
    .menus-il{
        width: 80%;
        height: 90%;
    }
    .txt-ins{
        padding: 40px 0;
    }
    .txt-ins h1{
        width: 100%;
        padding: 0 0px;
        font-size: 42pt;   
    }
    .txt-ins p{
        width: 100%;
        padding: 0 0px;
        font-size: 20pt;
        line-height: 38px;
    }
    .txt-ins a{
        font-size: 20pt;
    }
    .txt-grid .befores-a::before{
        content: '';
        position: absolute;
        height: 10px;
        width: 190px;
        border-radius: 25px;
        margin-top: 20px;
        z-index: -1;
    }
    .tml-c{
        color: var(--VeryDarkGrayBlue);
        font-family: 'Barlow', sans-serif;
        line-height: 28px;
        padding: 0 100px;
        font-size: 20pt;
    }
}