.intro-div{
    background-image: url(./images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
header{
    background-color: transparent;
    height: 70px;
}
.geral-h {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 35px;
}
.logo-img{
    display: flex;
    align-items: center;
}
.menus-i .li{
    color: var(--White);
    cursor: pointer;

    transition-property: color;
    transition-duration: .5s;
}
.menus-i .li:hover{
    color: var(--Yellow);
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
}
li{
    font-family: 'Barlow', sans-serif;
    margin: 0 15px;
}
.dif-li{
    font-family: 'Fraunces', sans-serif;
    color: var(--VeryDarkBlue);
    text-transform: uppercase;
    background-color: var(--White);
    width: 140px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;

    transition-property: color, background-color;
    transition-duration: .5s;
}
.dif-li:hover{
    background-color: var(--HoverContact);
    color: var(--White);
}
.intro-nav{
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
}
.elements-int{
    width: 600px;
    text-align: center;
    padding-top: 55px;
}
.elements-int h1{
    color: var(--White);
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 45px;
}
.elements-int img{
    margin-top: 45px;
}
.txt-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 90px;
    max-width: 50vw;
}
.txt-ins{
    display: block;
    max-width: 50vw;
}
.txt-grid h1{
    width: 400px;
    color: var(--VeryDarkBlue);
}
.txt-grid p{
    font-family: 'Barlow', sans-serif;
    color: var(--GrayBlue);
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 30px;
}
.txt-grid .befores-a{
    text-decoration: none;
    color: var(--VeryDarkBlue);
    text-transform: uppercase;    
}
.txt-grid .befores-a::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 130px;
    border-radius: 25px;
    margin-top: 15px;
    z-index: -1;
}
.txt-ins .softyellow::before{
    background-color: var(--SoftYellow);

    transition-property: all;
    transition-duration: .5s;
}
.txt-ins .softyellow:hover::before{
    background-color: var(--Yellow);
}
.txt-ins .softpink::before{
    background-color: var(--SoftPink);

    transition-property: all;
    transition-duration: .5s;
}
.txt-ins .softpink:hover::before{
    background-color: var(--SoftRed);
}
.grid-part{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.img-grid{
    overflow: hidden;
    line-height: 0;
    display: flex;
    justify-content: center;
}
.g-f{
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
}
.img-gd{
    background-image: url(./images/desktop/image-graphic-design.jpg);
}
.fl-gd{
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-gd .txt-gd{
    text-align: center;
    width: 380px;
    color: var(--DarkModerateCyan);
}
.txt-gd p{
    font-family:'Barlow', sans-serif;
    line-height: 28px;
}
.img-pg{
    background-image: url(./images/desktop/image-photography.jpg);
}
.img-pg .txt-pg{
    text-align: center;
    width: 380px;
    color: var(--DarkBlue);
}
.txt-pg p{
    font-family:'Barlow', sans-serif;
    line-height: 28px;
}
.client-testimonials{
    width: 100%;
    height: 90vh;
    background-color: var(--White);
}
.plp{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt-h3-plp{
    width: 100%;
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-transform: uppercase;
    color: var(--GrayBlue);
}
.client{
    text-align: center;
    width: 350px;
    margin: 0 15px;
}
.client img{
    width: 75px;
    border-radius: 50px;
}
.tml-c{
    color: var(--VeryDarkGrayBlue);
    font-family: 'Barlow', sans-serif;
    line-height: 28px;
    margin: 30px 0;
}
.nm-c{
    font-weight: 900;
    margin: 10px 0;
}
aside{
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
    color: var(--GrayBlue);
}
.grid-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.img-g{
    overflow: hidden;
    line-height: 0;
}
.img-g img{
    max-width: 25vw;
}
footer{
    height: 50vh;
    width: 100%;
    background-color: var(--LightCyanFooter);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100px;
}
footer ul li{
    text-align: center;
    color: var(--FooterItems);
}
.ft-it, .ft-it ul, .ft-it ul li, .ft-it ul li img{
    text-align: center;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons ul li{
    margin: 0 10px;
    cursor: pointer;
    font-size: 26px;

    transition-property: color;
    transition-duration: .3s;
}
.icons ul li:hover{
    color: white;
}
.list-ft{
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-ft ul li{
    margin: 0 20px;
    cursor: pointer;

    transition-property: color;
    transition-duration: .3s;
}
.list-ft ul li:hover{
    color: white;
}